@import "tailwindcss";

.product {
    height: 450px;
    /* width: 15% */
}

/* .product-img{
    height: 180px;
    width: 150px;
} */
/* .sliderimg {
    height: 300px;
    width: 100%;
} */

/* @media (min-width: 768) {
    .product {
        /* flex-wrap: wrap; */
        /* width: 30%;
    }
} */ */